
*.json
*.bin
*.o
*.ipch
*.su
*.xml
.code_review_properties
*.elf
*.elf
*.hex
*.list
*.map
*.o
melody-updater/redist/vcredist_x86.exe
melody-updater/redist/vcredist15_x86.exe
melody-updater/redist/dotNet462-KB3151802-Web.exe
melody-updater/Melody DFU.exe
melody-updater/lib_dfu.dll
melody-updater/HidDfu.dll
melody-updater/DFUEngine.dll
melody-updater/1544637564_Melody_7_3_STANDARD.dfu
.settings
.vscode
.cproject
.project
HEAD
Debug